attrs==20.2.0
cffi==1.14.2
copulae==0.6.0
cycler==0.10.0
decorator==4.4.2
flake8==3.8.3
future==0.18.2
h5py==2.10.0
importlib-metadata==1.7.0
iniconfig==1.0.1
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.5.0
networkx==2.4
numpy==1.18.4
packaging==20.4
patsy==0.5.1
pluggy==0.13.1
protobuf==3.12.2
py==1.9.0
pybind11==2.5.0
pycodestyle==2.6.0
pycopula==0.1.5
pycparser==2.20
pydot==1.4.1
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.1
pyvinecopulib==0.5.2
rpy2==3.3.5
scipy==1.2.3
seaborn==0.10.1
setuptools-scm==4.1.2
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
tensorboardX==2.0
threadpoolctl==2.1.0
toml==0.10.1
torch==1.5.0
tqdm==4.46.1
tzlocal==2.1
zipp==3.1.0
